@import "../app/colors";

.filter-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px;
  width: 30%;
}

.filter-menu__select {
  margin-left: 10px;
  margin-right: 30px;
}

.filter-menu__button {
  background-color: $gray-light;
  width: 100%;

  &:hover {
    background-color: $blue-light;
  }
}
